{% extends '../base.html' %}
{% load custom_tags %}
{% block content %}
{% usuarioNivel as nivel %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
      <!-- Main content -->
      <section class="content" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-3">
            <a href="{% url 'novo_planejamento_view' %}" class="btn btn-primary btn-block mb-3 {% if turmas %}disabled{% endif %}">Novo envio</a>
  
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Folders</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="{% url 'viewed_plans_view' %}" class="nav-link">
                      <i class="far fa-envelope-open"></i>
                      Vistos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'unviewed_plans_view' %}" class="nav-link">
                      <i class="far fa-envelope"></i>
                      Não vistos
                      <span class="badge bg-primary float-right mt-1">{{unviewed_plans.count}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'commented_plans_view' %}" class="nav-link">
                      <i class="far fa-comment-dots"></i>
                      Comentados
                      <span class="badge bg-primary float-right mt-1">{{unviewed_comments.count}}</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        
        
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Enviados</h3>
  
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search Mail">
                    <div class="input-group-append">
                      <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="mailbox-controls">
                  <!-- Check all button -->
                  <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="far fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-reply"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-share"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                  <div class="float-right">
                    1-{{grade_plans.count}}/{{grade_plans.count}}
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-left"></i>
                      </button>
                      <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-right"></i>
                      </button>
                    </div>
                    <!-- /.btn-group -->
                  </div>
                  <!-- /.float-right -->
                </div>
                {% if grade_plans.count > 0 %}
                <div class="table-responsive mailbox-messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                    
                      {% for grade_plan in grade_plans %}
                        <tr>
<!--                          <td>-->
<!--                            <div class="icheck-primary">-->
<!--                              <input type="checkbox" value="" id="check1">-->
<!--                              <label for="check1"></label>-->
<!--                            </div>-->
<!--                          </td>-->
                          <td><a href="{% url 'visualizar_view' %}?p={{grade_plan.id|encodeDecode:'encode'}}">{{grade_plan.posted_by.nome}}</a></td>
                          <td>{{grade_plan.school.nome}}</td>
                          <td>{{grade_plan.lesson_month|dateFormat:'%m/%Y'}}</td>
                          <td class="text-right">{{grade_plan.creation_date|dateFormat:'%d/%m/%Y'}}</td>
                        </tr>
      
                    </tbody>
                  </table>
                  <!-- /.table -->
                </div>
                {% endfor %}
                <!-- /.mail-box-messages -->
              </div>
              <!-- /.card-body -->

            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        {% endif %}
        <!-- /.row -->
      </section>
    
    <!-- /.content -->
  </div>

  {% endblock %}