{% extends '../base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}




<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Cadastros</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">




            <div class="col-12 col-sm-12">
                <div class="card card-primary card-outline card-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link {% if aba %}active{% endif %}" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Escolas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if not aba %}active{% endif %}" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Turmas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-three-tabContent">
                            <div class="tab-pane fade {% if aba %}show active{% endif %}" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">

                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="escola_add" />
                                    <div class="card-body">
                    
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Nome da escola</label>
                                            <input type="text" name="nome" class="form-control" {% if editar != 0 %}value="{{editar.nome}}"{% endif %} />
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Unidade</label>
                                            <select name="turma" class="form-control select2" style="width: 100%;">
                                              {% for unidade in unidades %}
                                                <option {% if editar.unidade.id == unidade.id %}selected{% endif %} value="{{unidade.id}}">{{unidade.estado}}, {{unidade.cidade}}</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label>Endereço</label>
                                        <input type="text" name="endereco" class="form-control" {% if editar != 0 %}value="{{editar.endereco}}"{% endif %}/>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Nome do responsável</label>
                                            <input type="text" name="nome_responsavel" class="form-control" {% if editar != 0 %}value="{{editar.responsavel}}"{% endif %} />
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Contato</label>
                                            <input type="text" name="contato" class="form-control" {% if editar != 0 %}value="{{editar.contato}}"{% endif %} data-inputmask='"mask": "(99) 99999-9999"' data-mask/>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="float-right">
                                        <a href="{% url 'dash_view' %}" class="btn"><i class="fas fa-reply"></i> Voltar</a>
                                        <a onClick="showHide('#table_escolas')" class="btn"><i class="fas fa-eye"></i> Ver todos</a>
                                        <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Enviar</button>
                                      </div>


                                    </div>
                                </form>


                                <div id="table_escolas">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Unidade</th>
                                        <th scope="col">Responsável</th>
                                        <th scope="col">Contato</th>
                                        <th scope="col">Controle</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for escola in escolas %}
                                        <tr>
                                          <th>{{escola.nome}}</th>
                                          <td>{{escola.unidade.cidade}}, {{escola.unidade.estado}}</td>
                                          <td>{{escola.responsavel}}</td>
                                          <td>{{escola.contato}}</td>
                                          <td>
                                            <div class="btn-group">
                                              <a href="{% url 'add_turma' %}?id={{escola.id}}&e=1" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                                              <a href="#" class="btn btn-danger disabled"><i class="fas fa-trash"></i></a>
                                              <a href="{% url 'add_courseware' %}?id={{escola.id|encodeDecode:'encode'}}" class="btn btn-primary"><i class="fas fa-book"></i></a>
                                            </div>
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>








                            </div>
                            <div class="tab-pane fade {% if not aba %}show active{% endif %}" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                                
                              <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="turma_add" />
                                <div class="card-body">
                
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Turma</label>
                                        <select name="turma" class="form-control select2" style="width: 100%;">
                                          {% for turma in turmas %}
                                            {% if forloop.counter0 > 1 %}
                                              <option {% if editar.nome == turma %}selected{% endif %} value="{{turma}}">{{turma}}</option>
                                            {% endif %}
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Turno</label>
                                        <select name="turno" class="form-control select2" style="width: 100%;">
                                          <option {% if editar.turno == "M" %}selected{% endif %} value="M">Manhã</option>
                                          <option {% if editar.turno == "T" %}selected{% endif %} value="T">Tarde</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label>Escola</label>
                                    <select name="escola" class="form-control select2" style="width: 100%;">
                                      {% for escola in escolas %}
                                        <option {% if editar.escola.id == escola.id %}selected{% endif %} value="{{escola.id}}">{{escola.nome}}, {{escola.unidade.cidade}}/{{escola.unidade.estado}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Professor</label>
                                        <select name="professor" class="form-control select2" style="width: 100%;">
                                          {% for usuario in professores %}
                                            <option {% if editar.professor.id == usuario.id %}selected{% endif %} value="{{usuario.id}}">{{usuario.nome}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Quantidade de alunos</label>
                                        <input type="number" name="quantidade" class="form-control" {% if editar != 0 %}value="{{editar.quantidade_alunos}}"{% endif %} />
                                      </div>
                                    </div>
                                  </div>

                                  <div class="float-right">
                                    <a href="{% url 'dash_view' %}" class="btn btn"><i class="fas fa-reply"></i> Voltar</a>
                                    <a onClick="showHide('#table_turmas')" class="btn"><i class="fas fa-eye"></i> Ver todos</a>
                                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Enviar</button>
                                  </div>


                                </div>
                            </form>









                            <div id="table_turmas">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Turma</th>
                                    <th scope="col">Turno</th>
                                    <th scope="col">Escola</th>
                                    <th scope="col">Professor</th>
                                    <th scope="col">Qtd. Alunos</th>
                                    <th scope="col">Controle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for turma in turmas_cadastradas %}
                                    <tr>
                                      <th>{{turma.nome}}</th>
                                      <td>{{turma.turno}}</td>
                                      <td>{{turma.escola.nome}}, {{turma.escola.unidade.estado}}</td>
                                      <td>{{turma.professor.nome}}</td>
                                      <td>{{turma.quantidade_alunos}}</td>
                                      <td>
                                        <div class="btn-group">
                                          <a href="{% url 'add_turma' %}?id={{turma.id}}&e=0" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                                          <a href="#" class="btn btn-danger disabled"><i class="fas fa-trash"></i></a>
                                        </div>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>










                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $('#table_escolas').hide();
  $('#table_turmas').hide();
  function showHide(e)
  {
    $(e).animate({height: 'toggle'});
  }
  $('[data-mask]').inputmask()
</script>

{% endblock %}